<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label>Name</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
      </div>
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full Name"
        required>
    </div>
  </div>
  <div class="form-group">
    <label>Position</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-id-card" aria-hidden="true"></i>
        </span>
      </div>
      <input class="form-control" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Position">
    </div>
  </div>
  <div class="form-group">
    <label>Office</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-building-o" aria-hidden="true"></i>
        </span>
      </div>
      <input class="form-control" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Office">
    </div>
  </div>
  <div class="form-group">
    <label>Salary</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary"
        placeholder="Salary">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default" [disabled]="!employeeForm.valid">
      <i class="fa fa-floppy-o"></i> Submit</button>
    <button type="button" class="btn btn-default" *ngIf="employeeService.selectedEmployee.$key!=null" (click)="onDelete(employeeForm)">
      <i class="fa fa-trash"></i> Delete</button>
    <button type="button" class="btn btn-default" (click)="resetForm(employeeForm)">
      <i class="fa fa-repeat"></i> Reset</button>
  </div>
</form>
