/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

button:hover,
ul.list-group.hover li:hover {
  cursor: pointer;
}
